In [21]:
import numpy as np
import pandas as pd
import matplotlib

In [16]:
phones = pd.read_csv(r"C:/Users/Lord/Desktop/DataSets/1.8_phones.csv")

phones.head(15)

    disk       os  price  year
0     64  Android   7256  2016
1    128  Android   7623  2015
2     64  Android   1916  2010
3    512      iOS  15045  2017
4     16  Android   4478  2013
5    512      iOS  15842  2018
6    128  Android   7191  2015
7     64  Android   4277  2013
8    512      iOS  12797  2015
9     64  Android   6256  2015
10   512      iOS  13788  2016
11   128  Android  10729  2018
12   512      iOS   9392  2012
13   128  Android   5416  2013
14   256      iOS   7334  2012

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [46]:
X = phones[["year","price"]] 
Y = phones["os"]

cl = DecisionTreeClassifier().fit(X, Y)

In [47]:
#индексация с нуля офк
print(export_text(cl))

|--- feature_1 <= 7660.50
|   |--- feature_0 <= 2012.50
|   |   |--- feature_1 <= 3855.50
|   |   |   |--- class: Android
|   |   |--- feature_1 >  3855.50
|   |   |   |--- class: iOS
|   |--- feature_0 >  2012.50
|   |   |--- class: Android
|--- feature_1 >  7660.50
|   |--- feature_0 <= 2015.50
|   |   |--- class: iOS
|   |--- feature_0 >  2015.50
|   |   |--- feature_1 <= 11017.00
|   |   |   |--- class: Android
|   |   |--- feature_1 >  11017.00
|   |   |   |--- class: iOS

In [51]:
cl.predict(X[3:8])[0], Y[1]

('iOS', 'Android')